@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  
  --background:#0f0e17 ;
  --headline: #fffffe;
  --paragraph: #a7a9be;
  --button: #ff8906;
  --buttonText: #fffffe;
}
html,body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
  min-height: 100dvh;
  background: var(--background);
}
